<h1>My Bulk Discounts</h1>
<%= link_to 'New Discount', '/merchant/discounts/new' %>

<% if @discounts != [] %>
  <% @discounts.each do |discount| %>
    <h3><%= discount.amount %>% discount on <%= discount.num_items %> or more items</h3>
  <% end %>
<% else %>
  <h3>No discounts have been created</h3>
<% end %>